/* CSS Reset */
*
{
  margin: 0;
  padding: 0;
  text-decoration: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: background-image 1s ease-in-out;

    font-family: 'Sen', sans-serif;
}

main,
.userBox,
.taskBox,
.quoteBox,
.weatherParam {
    display: flex;
}

main, .quoteBox {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff7d;
    width: 50%;
}

.goalText {
    min-width: 89px;
}

div,blockquote,figcaption, input,span {
    margin: 5px;
}
@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

@keyframes outFade {
    from {
        opacity: 1;
    }
    to {
        opacity: .1;
    }
}

.outFade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 2s;
}

.inputText {
    min-width: 100px;
    word-break: break-all;
}
.inputText:hover{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 2.5s;
    cursor: pointer;
    box-shadow: 1px 1px 20px rgb(43 43 43 / 20%);
}

.taskToday {
    min-width: 170px;
}
.timeBox {
    text-align: center;
}

.weatherParam > div {
    margin: 1px;
    padding: 5px;
    border: 1px solid #818181;
    border-radius: 1px;
    box-shadow: 1px 1px 20px rgb(43 43 43 / 30%);
}

.btnBox {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 1%;
    left: 1%;
}

.quoteBox {
    height: 20%;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: #676767;
    background-color: transparent;
    text-shadow: 1px 1px 1px rgb(43 43 43 / 90%);
}

.weatherBox {
    text-align: center;
}

#time {
    font-size: 2.5em;
}

#date {
    font-size: 0.9em;
}

button {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px;
    position: relative;
    color: white;
    border: 1px solid rgba(255,255,255,.4);
    background: none;
    font-size: 0.7em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px rgb(0 0 0 / 55%);
    box-shadow: 2px 3px 10px rgb(0 0 0 / 50%);
}
button:before,
button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width , .2s ease height .2s;
}
button:hover:before,
button:hover:after{
  height: 100%;
  width: 100%;
  opacity: 1;
}
button:hover:before {transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;}
button:hover:after {transition: 0s ease opacity .4s, .2s ease height .4s , .2s ease width .6s;}
button:hover {background: rgba(255,255,255,.2);}
button:active {
    color: rgba(0, 0, 0, 0.603);
    background: rgba(255, 255, 255, 0.603)
}
button:disabled {background: rgba(255, 255, 255, 0.377)}

/* контейнер */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    box-shadow: 2px 3px 10px rgb(0 0 0 / 50%);
    background:#cccccc6b;
    overflow: hidden;
    }

    /* Линия-ндикатор для Firefox */

    input[type=range]::-moz-range-track {
    background: none;
    border: none;
    }

    /* ползунок в Firefox */

    input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    border: 2px solid #818181;
    box-shadow:
    -13px 0 #8484849e, -26px 0 #8484849e, -39px 0 #8484849e,
    -52px 0 #8484849e, -65px 0 #8484849e, -78px 0 #8484849e,
    -91px 0 #8484849e, -104px 0 #8484849e, -117px 0 #8484849e,
    -130px 0 #8484849e, -143px 0 #8484849e, -156px 0 #8484849e,
    -169px 0 #8484849e, -182px 0 #8484849e, -195px 0 #8484849e,
    -208px 0 #8484849e, -221px 0 #8484849e, -234px 0 #8484849e,
    -247px 0 #8484849e, -260px 0 #8484849e;
    }

    /* ползунок в Хроме */

    input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:20px;
    height:20px;
    border: 2px solid #818181;
    background: #fff;
    box-shadow:
    -13px 0 #8484849e, -26px 0 #8484849e, -39px 0 #8484849e,
    -52px 0 #8484849e, -65px 0 #8484849e, -78px 0 #8484849e,
    -91px 0 #8484849e, -104px 0 #8484849e, -117px 0 #8484849e,
    -130px 0 #8484849e, -143px 0 #8484849e, -156px 0 #8484849e,
    -169px 0 #8484849e, -182px 0 #8484849e, -195px 0 #8484849e,
    -208px 0 #8484849e, -221px 0 #8484849e, -234px 0 #8484849e,
    -247px 0 #8484849e, -260px 0 #8484849e;
    }

.alert {
    display: none;
    position: absolute;
    top: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #2faf6e61;
}

@media screen and (max-width: 800px) {
    main, .quoteBox {
        flex-direction: column;
        align-items: center;
        background-color: #ffffff7d;
        width: 100%;
    }
    body {
        font-size: 1.5em;
    }
    header {
        display: none;
    }
    .btnBox {
        display: flex;
        position: relative;
        align-self: flex-start;
    }
    .mobMain {
        flex-direction: column;
        align-items: center;
        background-color: #ffffff7d;
        width: 100%;
    }
    body {
        font-size: 1.2em;
    }
    header {
        display: none;
    }
    main, .quoteBox {
        height: auto;
    }

    main {
        max-height: 350px
    }

    .quoteBox {
        height: 135px;
    }
    .btnBox {
        display: flex;
        position: relative;
        align-self: center;
    }

    .btnBox > input, button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.5em;
        height: 15px;
    }
    div,blockquote,figcaption, input,span {
        margin: 1px;
    }
    button {
        padding: 5px 10px;
        margin: 3px 5px;
    }
}
@media screen and (min-width: 800px) {
    .timeBox {
        font-size: 1.2em;
    }
}
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.2em;
    }
    .timeBox {
        font-size: 2em;
    }
}
